.bodyfigure{
    position: relative;
}
#keypoint1{
    position:absolute;
    width:60px;
    height:60px;
    top: 270px;
    right: 425px;
}
#keypoint2{
    position:absolute;
    width:60px;
    height:60px;
    top: 180px;
    right: 425px;
}
#keypoint3{
    position:absolute;
    width:60px;
    height:60px;
    top: 180px;
    right: 495px;
}
#keypoint4{
    position:absolute;
    width:60px;
    height:60px;
    top: 270px;
    right: 495px;
}
#keypoint5{
    position:absolute;
    width:60px;
    height:60px;
    top: 430px;
    right: 495px;
}
#keypoint6{
    position:absolute;
    width:60px;
    height:60px;
    top: 430px;
    right: 425px;
}
#keypoint7{
    position:absolute;
    width:60px;
    height:60px;
    top: 550px;
    right: 510px;
}
#keypoint8{
    position:absolute;
    width:60px;
    height:60px;
    top: 550px;
    right: 425px;
}
